//SASS Document

$primaryRed: #d4222a;
$secondaryRed: #651014;
$primaryGray: #202020;
$secondaryGray: #e1e1e1;
$primaryWhite: #fafafa;

$gentiumBook: 'gentium_book_basicregular', Times, serif;
$openSans: 'open_sansregular', Helvetica, Arial, sans-serif;
$openSansExtraBold: 'open_sansextrabold', Helvetica, Arial, sans-serif;
$openSansLight: 'open_sanslight', Helvetica, Arial, sans-serif;
$openSansSemiBold: 'open_sanssemibold', Helvetica, Arial, sans-serif;


/*Fonts*/


@font-face {
    font-family: 'gentium_book_basicregular';
    src: url("..assets/fonts/webfontkit-genB/'genbkbasr-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-genB/'genbkbasr-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url("..assets/fonts/webfontkit-openS/'opensans-extrabold-webfont.woff2 ") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-extrabold-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url("..assets/fonts/webfontkit-openS/'opensans-light-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-light-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url("..assets/fonts/webfontkit-openS/'opensans-regular-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-regular-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url("..assets/fonts/webfontkit-openS/'opensans-semibold-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-semibold-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Body*/

body {
    color: #FFF;
    font-size: 1.5em;
}


#primaryRed {
  color: #fff;
  background-color: $primaryRed;
  height: 200px;
  width: 200px;
  font-family: $gentiumBook;
}

#secondaryRed {
  color: #fff;
  background-color: $secondaryRed;
  height: 200px;
  width: 200px;
  font-family: $openSans;
}

#primaryGray {
  color: #fff;
  background-color: $primaryGray;
  height: 200px;
  width: 200px;
  font-family: $openSansLight;
}

#secondaryGray {
  color: $secondaryRed;
  background-color: $secondaryGray;
  height: 200px;
  width: 200px;
  font-family: $openSansExtraBold;
}

#primaryWhite {
  color: $primaryRed;
  background-color: $primaryWhite;
  height: 200px;
  width: 200px;
  font-family: $openSansSemiBold;
}
