//SASS Document

$primaryRed: #d4222a;
$secondaryRed: #651014;
$primaryGray: #282828;
$secondaryGray: #e1e1e1;
$primaryWhite: #fafafa;

$gentiumBook: 'gentium_book_basicregular', Times, serif;
$openSans: 'open_sansregular', Helvetica, Arial, sans-serif;
$openSansExtraBold: 'open_sansextrabold', Helvetica, Arial, sans-serif;
$openSansLight: 'open_sanslight', Helvetica, Arial, sans-serif;
$openSansSemiBold: 'open_sanssemibold', Helvetica, Arial, sans-serif;


/*Fonts*/


@font-face {
    font-family: 'gentium_book_basicregular';
    src: url("..assets/fonts/webfontkit-genB/'genbkbasr-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-genB/'genbkbasr-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url("..assets/fonts/webfontkit-openS/'opensans-extrabold-webfont.woff2 ") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-extrabold-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url("..assets/fonts/webfontkit-openS/'opensans-light-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-light-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url("..assets/fonts/webfontkit-openS/'opensans-regular-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-regular-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url("..assets/fonts/webfontkit-openS/'opensans-semibold-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-semibold-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Body*/

body {
    color: #FFF;
    font-size: 16px;
    background-color: #00f0df;
}

/*Overall Classes*/
  .hidden {
  display: none;
}

.redButton
{
  background-color: $primaryRed;
  width: 100%;
  padding: 18px;
  margin-bottom: 20px;
  text-align: center;
  color: $primaryWhite;
  font-family: $openSans;
  text-transform: uppercase;
  font-size: .8em;
}

.whiteButton
{
  @extend .redButton;
  background-color: $primaryWhite;
  color: $primaryRed;
}

.grayButton
{
  @extend .redButton;
  background-color: $primaryGray;
  color: $primaryWhite;
  margin-top: 20px;
}


/*Navigation*/


/*Summit Series Home*/
#summitSeriesHome {
  background-color: $primaryWhite;
  color: $primaryGray;
  font-size: 1.2em;
  font-family: $gentiumBook;

h2 {
  color: $primaryRed;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}
}


/*Learn Home*/
#learnHome {
  background-color: $primaryRed;
  color: $primaryWhite;
  font-size: 1.2em;
  font-family: $gentiumBook;

h2 {
  color: $primaryWhite;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}
}

/*Tour Home*/
#tourHome {
  background-color: black;
  color: $primaryWhite;
  font-size: 1.2em;
  font-family: $gentiumBook;

h2 {
  color: $primaryWhite;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}
}

/*Botique Home*/
#botiqueHome {
  background-color: $primaryWhite;
  color: $primaryGray;
  font-size: 1.2em;
  font-family: $gentiumBook;

h2 {
  color: $primaryRed;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
}

p {
  text-align: center;
  margin: 0px;
}



}


/*Footer*/

#mainFooter {
    background-color: $primaryGray;
    color: #c6c6c6;

    #officialSite {
        margin-top: 50px;
        margin-bottom: 50px;

        p {
            font-family: $gentiumBook;
            font-size: 1em;
            text-align: center;
        }
    }

    #footerSocial {
        border-top: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;
        padding-top: 50px;
        padding-bottom: 50px;

        ul {
            text-align: center;

            li {
                display: inline-block;
                margin-right: 10px;

                img {
                    max-width: 60%;
                }

                a:hover {
                    opacity: 0.5;
                    filter: alpha(opacity=50); /* For IE8 and earlier */
                }
            }

            li:last-child {
                margin-right: 0px;
            }
        }
    }

    #footerNav {
        margin-top: 50px;
        padding-bottom: 35px;
        text-align: center;

        ul {
            margin: 0;

            li {
                list-style-type: none;
                margin-bottom: 15px;

                a {
                    color: #c6c6c6;
                    font-family: $openSans;
                    font-size: 1em;
                }

                a:hover {
                        opacity: 0.5;
                        filter: alpha(opacity=50); /* For IE8 and earlier */
                }
            }
        }
    }
}
