//SASS Document

$primaryRed: #d4222a;
$secondaryRed: #651014;
$primaryGray: #282828;
$secondaryGray: #e1e1e1;
$primaryWhite: #fafafa;

$gentiumBook: 'gentium_book_basicregular', Times, serif;
$openSans: 'open_sansregular', Helvetica, Arial, sans-serif;
$openSansExtraBold: 'open_sansextrabold', Helvetica, Arial, sans-serif;
$openSansLight: 'open_sanslight', Helvetica, Arial, sans-serif;
$openSansSemiBold: 'open_sanssemibold', Helvetica, Arial, sans-serif;


/*Fonts*/


@font-face {
    font-family: 'gentium_book_basicregular';
    src: url("..assets/fonts/webfontkit-genB/'genbkbasr-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-genB/'genbkbasr-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url("..assets/fonts/webfontkit-openS/'opensans-extrabold-webfont.woff2 ") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-extrabold-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url("..assets/fonts/webfontkit-openS/'opensans-light-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-light-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url("..assets/fonts/webfontkit-openS/'opensans-regular-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-regular-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url("..assets/fonts/webfontkit-openS/'opensans-semibold-webfont.woff2'") format('woff2'),
         url("..assets/fonts/webfontkit-openS/'opensans-semibold-webfont.woff'") format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Body*/

body {
    color: #FFF;
    font-size: 1.5em;
    background-color: #00f0df;
}

/*Overall Classes*/
  .hidden {
  display: none;
}







/*Main Page Elements*/

#mainHeader
{
	margin-bottom: 20px;
}

.title-bar
{
	background-color: #FFF;
	margin-bottom: 10px;
}

.title-bar .menu-icon
{
	margin-right: 0;
}

.menu-icon::after
{
	background: #0099CC;
	box-shadow: 0 7px 0 #0099CC, 0 14px 0 #0099CC;
}

.menu-icon:hover::after
{
	background: #0099CC;
	box-shadow: 0 7px 0 #0099CC, 0 14px 0 #0099CC;
}

#mainNav
{
	margin: 0;
	list-style-type: none;
	text-align: center;
}

#mainNav ul li a
{
	display: block;
	color: #8EA76D;
	padding: 5px 0 5px 0;
}

#mainNav li
{
	border-bottom: 1px solid #EFEFEF;
}

#mainNav li:first-child
{
	border-top: 1px solid #EFEFEF;
}

#mainNav li:last-child
{
	margin-bottom: 10px;
}

#searchForm
{
	margin-top: 20px;
}

#searchForm .button
{
	background: #8EA76D;
}

#searchForm .button:hover
{
	background: #215445;
}

/*Logo*/

#wollastonLogo
{
	display: block;
	max-width: 120px;
	margin: 0 auto;
}

/*Pano Area*/

#pano
{
	background-color: #CCC;
	margin-bottom: 30px;
	height: 300px;
	background-repeat: no-repeat;
	background-position: center;
}

#infoFrost
{
	background-color: rgba(255,255,255,0.8);
	padding: 10px 20px 0px 20px;
	margin-top: 15px;
	height: 270px;
}

#infoFrost h2
{
	font-size: 1.1125em;
}

#infoFrost h3
{
	letter-spacing: .25px;
	font-size: .875em;
}

#infoFrost p
{
	font-size: .75em;
	color: #090909;
	margin-top: 10px;
}

#bookNow
{
	font-family: 'lustriaregular', Times, 'Times New Roman', sans-serif;
	display: block;
	color: #FFF;
	background-color: #8FA771;
	text-align: center;
	width: 120px;
	font-size: 1em;
	margin-bottom: 20px;
	border-radius: 10px;
	padding: .75em 0;
}

/*Services Area*/

#serviceCon
{
	margin-bottom: 10px;
}

.services h2
{
	font-size: 1.5em;
	margin-top: 20px;
	margin-bottom: 5px;
	line-height: 14px;
}

.services h3
{
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 20px;
}

.services p
{
	color: #333;
	font-size: .875em;
	line-height: 22px;
	text-align: justify;
}

.icon
{
	float: left;
	width: 70px;
	margin-right: 20px;
	margin-bottom: 0;
}

/*Extra's Area*/

#extraCon
{
	margin-bottom: 60px;
}

.extrasImg
{
	margin-top: 20px;
	margin-bottom: 30px;
}


.extras h2
{
	font-size: 1.25em;
	line-height: 0;
	margin-bottom: 30px;
}

.extras p
{
	font-size: .875em;
	color: #333;
	line-height: 22px;
}

/*Navigation*/


/*Footer*/


#mainFooter {
    background-color: $primaryGray;
    color: #c6c6c6;

    #officialSite {
        margin-top: 50px;
        margin-bottom: 50px;

        p {
            font-family: $gentiumBook;
            font-size: 1em;
            text-align: center;
        }
    }

    #footerSocial {
        border-top: 1px solid #c6c6c6;
        border-bottom: 1px solid #c6c6c6;
        padding-top: 50px;
        padding-bottom: 50px;

        ul {
            text-align: center;

            li {
                display: inline-block;
                margin-right: 10px;

                img {
                    max-width: 60%;
                }

                a:hover {
                    opacity: 0.5;
                    filter: alpha(opacity=50); /* For IE8 and earlier */
                }
            }

            li:last-child {
                margin-right: 0px;
            }
        }
    }

    #footerNav {
        margin-top: 50px;
        padding-bottom: 35px;
        text-align: center;

        ul {
            margin: 0;

            li {
                list-style-type: none;
                margin-bottom: 15px;

                a {
                    color: #c6c6c6;
                    font-family: $openSans;
                    font-size: 1em;
                }

                a:hover {
                        opacity: 0.5;
                        filter: alpha(opacity=50); /* For IE8 and earlier */
                }
            }
        }
    }
}
