/*Variables*/
/*Fonts*/
@font-face {
  font-family: 'gentium_book_basicregular';
  src: url("..assets/fonts/webfontkit-genB/'genbkbasr-webfont.woff2'") format("woff2"), url("..assets/fonts/webfontkit-genB/'genbkbasr-webfont.woff'") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansextrabold';
  src: url("..assets/fonts/webfontkit-openS/'opensans-extrabold-webfont.woff2 ") format("woff2"), url("..assets/fonts/webfontkit-openS/'opensans-extrabold-webfont.woff'") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanslight';
  src: url("..assets/fonts/webfontkit-openS/'opensans-light-webfont.woff2'") format("woff2"), url("..assets/fonts/webfontkit-openS/'opensans-light-webfont.woff'") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sansregular';
  src: url("..assets/fonts/webfontkit-openS/'opensans-regular-webfont.woff2'") format("woff2"), url("..assets/fonts/webfontkit-openS/'opensans-regular-webfont.woff'") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'open_sanssemibold';
  src: url("..assets/fonts/webfontkit-openS/'opensans-semibold-webfont.woff2'") format("woff2"), url("..assets/fonts/webfontkit-openS/'opensans-semibold-webfont.woff'") format("woff");
  font-weight: normal;
  font-style: normal; }
/*Body*/
body {
  color: #FFF;
  font-size: 16px;
  background-color: #fff;
  padding: 0;
  margin: 0; }

/*Overall Classes*/
.hidden {
  display: none; }

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

/*Main Page Elements*/
#mainHeader {
  margin-bottom: 20px; }

.redButton, .whiteButton, .grayButton {
  background-color: #d4222a;
  width: 100%;
  padding: 18px;
  margin-bottom: 35px;
  text-align: center;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .9em; }

.whiteButton {
  background-color: #fafafa;
  color: #d4222a; }

.grayButton {
  background-color: #282828;
  color: #fafafa;
  margin-top: 20px; }

/*Navigation*/
/*Hero Banner*/
.hero {
  background-color: black;
  background-image: url("../images/hero_bg1.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  height: 250px;
  background-size: 100%; }
  .hero h1 {
    background-color: rgba(255, 255, 255, 0.6);
    color: #d4222a;
    text-transform: uppercase;
    padding: 15px;
    width: 100%;
    text-align: center;
    margin-top: 70px;
    font-family: "Open Sans", sans-serif;
    font-weight: 800; }
  .hero h2 {
    text-align: center;
    color: #d4222a;
    text-transform: uppercase;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }

#heroSocial {
  padding-top: 20px; }
  #heroSocial ul {
    text-align: center; }
    #heroSocial ul li {
      display: inline; }
    #heroSocial ul img {
      max-width: 25%;
      padding-left: 15px;
      padding-right: 15px; }

/*Summit Series Home*/
#summitSeriesHome {
  background-color: #fafafa;
  color: #282828;
  font-size: 1.2em;
  font-family: "gentium_book_basicregular", Times, serif; }
  #summitSeriesHome h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #d4222a;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px; }
  #summitSeriesHome img {
    padding-bottom: 25px; }
  #summitSeriesHome p {
    padding-bottom: 10px; }

/*Learn Home*/
#learnHome {
  background-color: #d4222a;
  color: #fafafa;
  font-size: 1.2em;
  font-family: "gentium_book_basicregular", Times, serif; }
  #learnHome h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fafafa;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 5px; }
  #learnHome h3 {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding-bottom: 20px; }
  #learnHome img {
    padding-bottom: 25px; }
  #learnHome p {
    padding-bottom: 10px; }

/*Tour Home*/
#tourHome {
  background-color: black;
  color: #fafafa;
  font-size: 1.2em;
  font-family: "gentium_book_basicregular", Times, serif; }
  #tourHome h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fafafa;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px; }
  #tourHome p {
    padding-bottom: 10px; }

/*Botique Home*/
#botiqueHome {
  background-color: #fafafa;
  color: #282828;
  font-size: 1.2em;
  font-family: "gentium_book_basicregular", Times, serif; }
  #botiqueHome h2 {
    color: #d4222a;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px; }
  #botiqueHome p {
    text-align: center;
    margin: 0px; }

/*Footer*/
#mainFooter {
  background-color: #282828;
  color: #c6c6c6; }
  #mainFooter #officialSite {
    border-bottom: 1px solid #454545;
    margin-top: 40px;
    padding-bottom: 30px; }
    #mainFooter #officialSite p {
      font-family: "gentium_book_basicregular", Times, serif;
      font-size: 1em;
      text-align: center; }
  #mainFooter #footerNav {
    display: none; }
  #mainFooter #footerSocial {
    border-bottom: 1px solid #454545;
    padding-top: 30px;
    padding-bottom: 20px; }
    #mainFooter #footerSocial ul {
      text-align: center; }
      #mainFooter #footerSocial ul li {
        display: inline; }
      #mainFooter #footerSocial ul img {
        max-width: 25%;
        padding-left: 15px;
        padding-right: 15px; }
  #mainFooter #footerNavSmall {
    margin-top: 50px;
    padding-bottom: 35px;
    text-align: center; }
    #mainFooter #footerNavSmall ul {
      margin: 0; }
      #mainFooter #footerNavSmall ul li {
        list-style-type: none;
        margin-bottom: 15px; }
        #mainFooter #footerNavSmall ul li a {
          color: #c6c6c6;
          font-family: "Open Sans", sans-serif;
          font-size: 1em; }
  #mainFooter #copyright {
    display: none; }
  #mainFooter #backBut {
    text-align: center; }
    #mainFooter #backBut a {
      color: #717171;
      font-size: .7em;
      text-transform: uppercase;
      margin-bottom: 10px; }

@media screen and (min-width: 40em) {
  #mainFooter #officialSite {
    margin-top: 20px;
    padding-bottom: 5px; }
    #mainFooter #officialSite p {
      font-size: .813em; }
  #mainFooter #footerNav {
    display: block;
    margin-top: 15px;
    padding-bottom: 0px;
    text-align: center; }
    #mainFooter #footerNav ul {
      margin: 0; }
      #mainFooter #footerNav ul li {
        list-style-type: none;
        display: inline-block;
        margin-bottom: 0px;
        margin-right: 10px; }
        #mainFooter #footerNav ul li a {
          font-size: .563em;
          color: #c6c6c6;
          font-size: .625em;
          font-family: "Open Sans", sans-serif; }
  #mainFooter #footerSocial {
    border-top: none;
    padding-top: 30px;
    padding-bottom: 0px;
    border-bottom: none; }
    #mainFooter #footerSocial img {
      max-width: 50%; }
  #mainFooter #footerNavSmall {
    display: none; }
  #mainFooter #copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center; }
    #mainFooter #copyright p {
      font-family: "gentium_book_basicregular", Times, serif;
      font-size: .813em; }
  #mainFooter #backBut {
    display: none; } }

/*# sourceMappingURL=app.css.map */
