/*Variables*/
/*Body*/
body {
  font-size: 16px;
  background-color: #fff;
  padding: 0;
  margin: 0;
  background-image: url("../images/ice_age.png");
  overflow-x: hidden; }

::selection {
  background: #df8f92;
  /* WebKit/Blink Browsers */ }

::-moz-selection {
  background: #df8f92;
  /* Gecko Browsers */ }

p {
  font-size: 1em; }

/*Overall Classes*/
.hidden {
  display: none; }

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.almostFullWidth {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

a {
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease 0.2s;
  color: #d4222a; }

a:hover {
  color: #ec898e; }

/*HOME PAGE*/
/*Main Page Elements*/
#mainHeader {
  margin-bottom: 20px; }

.redButton, .whiteButton, .grayButton {
  background-color: #d4222a;
  width: 100%;
  padding: 18px;
  margin-bottom: 35px;
  text-align: center;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .9em; }
  .redButton a, .whiteButton a, .grayButton a {
    color: #fafafa; }

.redButton:hover, .whiteButton:hover, .grayButton:hover {
  background-color: #282828; }

.whiteButton {
  background-color: #fafafa;
  color: #d4222a; }
  .whiteButton a {
    color: #d4222a; }

.grayButton {
  background-color: #282828;
  color: #fafafa;
  margin-top: 20px; }
  .grayButton a {
    color: #282828; }

.submitButton {
  background-color: #d4222a;
  width: 100%;
  padding: 18px;
  margin-top: 20px;
  margin-bottom: 65px;
  text-align: center;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1em; }

.submitButton:hover {
  background-color: #282828; }

/*Navigation*/
#mainNav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  height: 100px;
  -webkit-box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56); }

#logo {
  width: 90px;
  margin-left: 40px;
  margin-top: 7px;
  float: left; }

#hamburger {
  float: right;
  margin-top: 40px;
  margin-right: 30px;
  max-width: 30px; }

#content {
  display: none; }

#content.open {
  display: block; }

#mainNav ul {
  clear: both;
  background-color: #fff;
  list-style-type: none;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56);
  box-shadow: 0px 3px 18px -5px rgba(0, 0, 0, 0.56); }

#mainNav ul li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 2px #f9f9f9; }

#mainNav ul li a {
  color: #651014;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease .2s;
  -o-transition: all ease .2s;
  transition: all ease 0.2s; }

#mainNav ul li a:hover {
  color: #d4222a; }

/*News*/
#news {
  padding-bottom: 40px;
  border-bottom: solid 1px #ddd; }
  #news h2 {
    color: #282828;
    text-transform: uppercase;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease 0.2s; }
  #news h2:hover {
    color: #6f6f6f; }
  #news h3 {
    color: #d4222a;
    text-transform: uppercase;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1em;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease 0.2s; }
  #news h3:hover {
    color: #ee979a; }
  #news h4 {
    color: #888;
    text-transform: uppercase;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    margin-top: 0px;
    font-size: .8em; }
  #news h4:hover {
    text-decoration: underline; }
  #news img {
    padding-right: 20px;
    opacity: 1;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease 0.2s; }
  #news img:hover {
    opacity: .8; }

/*Hero Banner*/
.hero {
  margin-top: 100px;
  background-color: black;
  background-image: url("../images/hero_bg1.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 110%;
  height: 250px;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear; }
  .hero h1 {
    background-color: rgba(255, 255, 255, 0.7);
    color: #d4222a;
    text-transform: uppercase;
    padding: 15px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.8em; }
  .hero h2 {
    text-align: center;
    color: #d4222a;
    text-transform: uppercase;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }

#heroSocial ul {
  text-align: center; }
  #heroSocial ul li {
    display: inline; }
  #heroSocial ul img {
    margin-top: 20px;
    max-width: 15%;
    opacity: 1;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease 0.2s; }
  #heroSocial ul img:hover {
    opacity: .2; }
  #heroSocial ul #twitterimg {
    margin-left: 55px;
    margin-right: 55px; }

/*Summit Series Home*/
#summitSeriesHome {
  background-color: #fafafa;
  color: #282828;
  font-size: 1.2em;
  font-family: "Gentium Book Basic", serif; }
  #summitSeriesHome h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #d4222a;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px; }
  #summitSeriesHome img {
    padding-bottom: 25px; }
  #summitSeriesHome p {
    padding-bottom: 10px; }

/*Learn Home*/
#learnHome {
  background-color: #d4222a;
  color: #fafafa;
  font-size: 1.2em;
  font-family: "Gentium Book Basic", serif; }
  #learnHome h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fafafa;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 5px; }
  #learnHome h3 {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #fafafa;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding-bottom: 20px; }
  #learnHome img {
    padding-bottom: 25px; }
  #learnHome p {
    padding-bottom: 10px; }

/*Tour Home*/
#tourHome {
  background-color: black;
  color: #fafafa;
  font-size: 1.2em;
  font-family: "Gentium Book Basic", serif;
  background-image: url("../images/bg1.jpg");
  background-repeat: no-repeat;
  background-size: 260%; }
  #tourHome h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fafafa;
    font-size: 2.7em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 10px; }
  #tourHome h3 {
    display: none; }
  #tourHome p {
    padding-bottom: 10px; }

/*Botique Home*/
/*Botique*/
#botiqueHome {
  padding-bottom: 40px;
  border-bottom: solid 1px #ddd; }
  #botiqueHome h2 {
    color: #d4222a;
    text-transform: uppercase;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 30px;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease 0.2s; }
  #botiqueHome h2:hover {
    color: #6f6f6f; }
  #botiqueHome h3 {
    color: #d4222a;
    text-transform: uppercase;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1em;
    height: 40px;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease 0.2s;
    padding-right: 20%; }
  #botiqueHome h3:hover {
    color: #ee979a; }
  #botiqueHome h4 {
    color: #888;
    text-transform: uppercase;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    margin-top: 0px;
    font-size: .8em; }
  #botiqueHome h4:hover {
    text-decoration: underline; }
  #botiqueHome img {
    padding-right: 20px;
    opacity: 1;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease 0.2s; }
  #botiqueHome img:hover {
    opacity: .8; }

.botiqueButton {
  background-color: #282828;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .8em;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 30px; }

.botiqueButton:hover {
  background-color: #d4222a; }

/*Footer*/
#mainFooter {
  background-color: #282828;
  color: #c6c6c6; }
  #mainFooter #officialSite {
    border-bottom: 1px solid #454545;
    margin-top: 40px;
    padding-bottom: 30px; }
    #mainFooter #officialSite p {
      font-family: "Gentium Book Basic", serif;
      font-size: 1em;
      text-align: center; }
  #mainFooter #footerNav {
    display: none; }
  #mainFooter #footerSocial {
    border-bottom: 1px solid #454545;
    padding-top: 30px;
    padding-bottom: 20px; }
    #mainFooter #footerSocial ul {
      text-align: center; }
      #mainFooter #footerSocial ul li {
        display: inline; }
      #mainFooter #footerSocial ul img {
        max-width: 25%;
        padding-left: 15px;
        padding-right: 15px; }
  #mainFooter #footerNavSmall {
    margin-top: 50px;
    padding-bottom: 35px;
    text-align: center; }
    #mainFooter #footerNavSmall ul {
      margin: 0; }
      #mainFooter #footerNavSmall ul li {
        list-style-type: none;
        margin-bottom: 15px; }
        #mainFooter #footerNavSmall ul li a {
          color: #c6c6c6;
          font-family: "Open Sans", sans-serif;
          font-size: 1em; }
  #mainFooter #copyright {
    display: none; }
  #mainFooter #backBut {
    text-align: center; }
    #mainFooter #backBut a {
      color: #717171;
      font-size: .7em;
      text-transform: uppercase;
      margin-bottom: 10px; }

/*Media Queries*/
/*Medium and up - 640px*/
@media screen and (min-width: 40em) {
  /*Overall Classes*/
  .redButton, .whiteButton, .grayButton {
    display: block;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 40px; }

  .redButton:focus, .whiteButton:focus, .grayButton:focus {
    background-color: #d4222a; }

  /*Hero Banner*/
  .hero {
    height: 450px; }
    .hero h1 {
      padding: 25px;
      margin-top: 150px;
      font-size: 3em; }
    .hero h2 {
      font-size: 1.5em; }

  #heroSocial ul {
    text-align: center; }
    #heroSocial ul li {
      display: inline; }
    #heroSocial ul img {
      margin-top: 30px;
      max-width: 15%; }
    #heroSocial ul #twitterimg {
      margin-left: 155px;
      margin-right: 155px; }

  /*Summit Series Home*/
  #summitSeriesHome {
    background-color: #fafafa;
    color: #282828;
    font-size: 1.2em;
    font-family: "Gentium Book Basic", serif; }
    #summitSeriesHome h2 {
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      color: #d4222a;
      font-size: 1.5em;
      text-transform: uppercase;
      padding-top: 20px;
      padding-bottom: 20px; }
    #summitSeriesHome img {
      padding-bottom: 25px;
      display: block;
      margin: 0 auto; }
    #summitSeriesHome p {
      width: 90%;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px; }

  /*Learn Home*/
  #learnHome img {
    display: block;
    margin: 0 auto; }
  #learnHome p {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }

  /*Tour Home*/
  #tourHome {
    background-image: url("../images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: 120%; }
    #tourHome h3 {
      display: block;
      font-size: 1em;
      text-align: center;
      text-transform: uppercase;
      color: #fafafa;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      padding-bottom: 20px;
      border-bottom: solid 1px rgba(255, 255, 255, 0.7); }
    #tourHome p {
      width: 90%;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px; }

  /*Footer*/
  #mainFooter #officialSite {
    margin-top: 20px;
    padding-bottom: 5px; }
    #mainFooter #officialSite p {
      font-size: 1em; }
  #mainFooter #footerNav {
    display: block;
    margin-top: 15px;
    padding-bottom: 0px;
    text-align: center; }
    #mainFooter #footerNav ul {
      margin: 0; }
      #mainFooter #footerNav ul li {
        list-style-type: none;
        display: inline-block;
        margin-bottom: 0px;
        margin-right: 10px; }
        #mainFooter #footerNav ul li a {
          font-size: .563em;
          color: #c6c6c6;
          font-size: 1em;
          font-family: "Open Sans", sans-serif; }
        #mainFooter #footerNav ul li a:hover {
          opacity: .6; }
  #mainFooter #footerSocial {
    border-top: none;
    padding-top: 30px;
    padding-bottom: 0px;
    border-bottom: none; }
    #mainFooter #footerSocial img {
      max-width: 50%; }
    #mainFooter #footerSocial a:hover {
      opacity: .6; }
  #mainFooter #footerNavSmall {
    display: none; }
  #mainFooter #copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center; }
    #mainFooter #copyright p {
      font-family: "Gentium Book Basic", serif;
      font-size: 1em; }
  #mainFooter #backBut {
    display: none; } }
/* Large and up - 1024px */
@media screen and (min-width: 64em) {
  /*Overall Classes*/
  .redButton, .whiteButton, .grayButton {
    display: block;
    margin: 0;
    width: 170px;
    margin-top: 20px;
    margin-bottom: 60px; }

  /*Nav*/
  #logo {
    width: 90px;
    margin-left: 80px;
    margin-top: 7px;
    float: left; }

  #hamburger {
    display: none; }

  #content {
    display: inline;
    float: right; }

  #mainNav {
    opacity: .95; }

  #mainNav ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding-top: 35px;
    padding-bottom: 0px;
    text-align: left;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

  #mainNav ul li {
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    display: inline;
    font-size: 1.1em;
    margin-right: 40px; }

  /*Hero Banner*/
  .hero {
    height: 650px;
    background-size: 100%;
    background-position: center; }
    .hero h1 {
      padding: 25px;
      margin-top: 220px;
      font-size: 4em; }
    .hero h2 {
      font-size: 2em; }

  #heroSocial ul {
    text-align: center; }
    #heroSocial ul li {
      display: inline; }
    #heroSocial ul img {
      margin-top: 120px;
      max-width: 15%; }
    #heroSocial ul #twitterimg {
      margin-left: 15px;
      margin-right: 15px; }

  /*Summit Series Home*/
  #summitSeriesBG {
    width: 100%;
    background-color: #fafafa; }

  #summitSeriesHome {
    width: 80%; }
    #summitSeriesHome h2 {
      text-align: left;
      font-size: 2em;
      padding-top: 60px;
      padding-bottom: 30px; }
    #summitSeriesHome img {
      margin: 0 auto; }
    #summitSeriesHome p {
      margin: 0; }

  /*Learn Home*/
  #learnBG {
    width: 100%;
    background-color: #d4222a; }

  #learnHome {
    width: 80%; }
    #learnHome h2 {
      font-size: 2em;
      padding-top: 60px;
      padding-bottom: 30px;
      text-align: center; }
    #learnHome h3 {
      text-align: left; }
    #learnHome img {
      margin-top: 40px; }
    #learnHome p {
      margin: 0; }

  /*Tour Home*/
  #tourBG {
    background-image: url("../images/bg3.jpg");
    background-repeat: no-repeat;
    background-size: 100%; }

  #tourHome {
    background: none; }
    #tourHome h3 {
      display: block;
      font-size: 1em;
      text-align: center;
      text-transform: uppercase;
      color: #fafafa;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      padding-bottom: 20px;
      border-bottom: solid 1px rgba(255, 255, 255, 0.7); }
    #tourHome p {
      width: 90%;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px; }
    #tourHome #tourButton {
      margin: 0 auto;
      margin-bottom: 40px; }

  /*Footer*/
  #footerBG {
    width: 100%;
    background-color: #282828; }

  #footerNav {
    display: none; }

  #mainFooter #officialSite {
    margin-top: 20px;
    padding-bottom: 5px; }
    #mainFooter #officialSite p {
      font-size: 1em; }
  #mainFooter #footerSocial {
    border-top: none;
    padding-top: 30px;
    padding-bottom: 0px;
    border-bottom: none; }
    #mainFooter #footerSocial img {
      max-width: 50%; }
  #mainFooter #footerNavSmall {
    display: block;
    margin-top: 30px;
    padding-bottom: 0px; }
    #mainFooter #footerNavSmall ul li {
      display: inline;
      margin-right: 15px; }
      #mainFooter #footerNavSmall ul li a:hover {
        opacity: .6; }
    #mainFooter #footerNavSmall ul li:last-child {
      margin-right: 0px; }
  #mainFooter #copyright {
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: center; }
    #mainFooter #copyright p {
      font-family: "Gentium Book Basic", serif;
      font-size: 1em; }
  #mainFooter #backBut {
    display: none; } }
/* Extra large - 1440px */
@media screen and (min-width: 90em) {
  /*Overall Classes*/
  .redButton, .whiteButton, .grayButton {
    display: block;
    margin: 0;
    width: 170px;
    margin-top: 20px;
    margin-bottom: 60px; }

  /*Nav*/
  #logo {
    width: 90px;
    margin-left: 80px;
    margin-top: 7px;
    float: left; }

  #hamburger {
    display: none; }

  #content {
    display: inline;
    float: right; }

  #footeNav {
    display: none; } }
/*About page*/
.aboutHero {
  margin-top: 100px;
  background-color: white;
  background-image: url("../images/team_photo_small.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
  z-index: -2; }
  .aboutHero h1 {
    color: #fafafa;
    font-family: "Open Sans", sans-serif;
    font-size: 2.2em;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.32); }
  .aboutHero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: -moz-linear-gradient(top, transparent 0%, rgba(1, 1, 1, 0.98) 64%, rgba(2, 2, 2, 0.98) 92%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(1, 1, 1, 0.98) 64%, rgba(2, 2, 2, 0.98) 92%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, rgba(1, 1, 1, 0.98) 64%, rgba(2, 2, 2, 0.98) 92%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0101010',GradientType=0 );
    /* IE6-9 */ }
  .aboutHero p {
    color: #fafafa;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 80px;
    font-family: "Gentium Book Basic", serif;
    font-size: 1.2em;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.32); }

#aboutThumbBG {
  width: 100%;
  background-color: #d4222a; }

#aboutThumb {
  background-color: #d4222a; }
  #aboutThumb h3 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1em;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
  #aboutThumb h3:hover {
    color: #f09fa3; }
  #aboutThumb p {
    color: white;
    font-family: "Gentium Book Basic", serif;
    font-style: italic;
    font-size: 1em;
    margin-bottom: 10px; }
  #aboutThumb img {
    margin-top: 40px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    max-width: 100px; }
  #aboutThumb img:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    -ms-transform: rotate(5deg); }

#summitSeriesBG {
  margin-top: 30px;
  font-family: "Gentium Book Basic", serif;
  font-size: 1.2em;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCC;
  background-color: #fafafa; }

#summitSeriesCon h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #282828;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px; }

#summitSeriesInfo {
  margin-top: 20px; }

#summitSeriesInfo h3 {
  font-size: 1.125em;
  text-align: center;
  text-transform: uppercase;
  color: #282828;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin-bottom: 25px; }

#summitSeriesInfo .quoteText {
  font-style: italic;
  font-size: 1.25em;
  font-weight: 700; }

#mapBG {
  padding-top: 30px;
  font-family: "Gentium Book Basic", serif;
  font-size: 1.2em;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCC;
  background-color: #282828; }

#mapTitle h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #fafafa;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px; }

#map {
  position: relative;
  overflow: hidden; }

.circle {
  background-color: #d4222a;
  border-radius: 20px;
  width: 20px;
  height: 20px;
  border: 2px solid #d4222a;
  position: absolute;
  animation-name: glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; }

@keyframes glow {
  0% {
    box-shadow: 0 0 2px rgba(212, 34, 42, 0.7); }
  100% {
    box-shadow: 0 0 25px rgba(212, 34, 42, 0.7); } }
#circle0 {
  top: 465px;
  left: 9%; }

#circle1 {
  top: 530px;
  left: 40%; }

#circle2 {
  top: 650px;
  left: 64%; }

#circle3 {
  top: 598px;
  left: 70%; }

.boxes {
  width: 240px;
  height: 420px;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  position: absolute;
  opacity: 0; }

.boxes img {
  margin-bottom: 20px; }

#info0 {
  top: 198px;
  left: 70%; }

#info1 {
  top: 250px;
  left: 64%; }

#info2 {
  top: 130px;
  left: 40%; }

#info3 {
  top: 65px;
  left: 9%; }

#team table {
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  border: none; }
#team thead {
  background-color: #282828;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em; }
#team th {
  color: #fafafa; }

#table1Container {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

#table2Container {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

#table3Container {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

#table4Container {
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.teamButton {
  margin-top: 30px;
  background-color: #d4222a;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1em; }

.teamButton:hover {
  background-color: #282828; }

/* Medium and up - 1024px */
@media screen and (min-width: 40em) {
  .aboutHero {
    background-image: url("../images/team_photo_medium.jpg"); }
    .aboutHero h1 {
      margin-top: 70px;
      margin-bottom: 70px;
      font-size: 3.2em; }
    .aboutHero p {
      margin-bottom: 80px;
      font-size: 1.5em;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 100px; } }
/* Large and up - 1024px */
@media screen and (min-width: 60em) {
  .aboutHero {
    background-image: url("../images/team_photo_large.jpg");
    background-position: 0px 0px; }
    .aboutHero p {
      margin-bottom: 80px;
      font-size: 1.5em;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 100px; } }
/*EDUCATION PAGE*/
.education {
  margin-top: 100px;
  background-color: black;
  background-image: url("../images/hero_bg1.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 110%;
  height: 150px;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear; }

#educationTitle h2 {
  text-transform: uppercase;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5em; }

.bold {
  font-weight: bold; }

#educationInfo {
  margin-top: 0px;
  margin-bottom: 30px;
  border-bottom: solid 1px #CCC;
  padding-bottom: 40px;
  margin-bottom: 40px; }
  #educationInfo p {
    color: #282828;
    font-size: 1.25em;
    font-family: "Gentium Book Basic", serif; }
  #educationInfo p:first-child {
    margin-top: 30px; }
  #educationInfo #facets {
    margin-bottom: 10px; }
  #educationInfo ul {
    padding-left: 15px;
    margin: 0;
    color: #282828;
    font-size: 1.25em;
    font-family: "Gentium Book Basic", serif; }

#educationCurriculumHome {
  padding-top: 0px;
  background-color: #fafafa;
  color: #282828;
  font-size: 1.2em;
  font-family: "Gentium Book Basic", serif; }
  #educationCurriculumHome h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #d4222a;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 5px; }
  #educationCurriculumHome h3 {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #fafafa;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding-bottom: 20px; }
  #educationCurriculumHome img {
    padding-bottom: 25px;
    display: block;
    margin: 0 auto; }
  #educationCurriculumHome p {
    padding-bottom: 10px; }

#minorHockeyHome {
  background-color: #d4222a;
  color: #fafafa;
  font-size: 1.2em;
  font-family: "Gentium Book Basic", serif; }
  #minorHockeyHome h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fafafa;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 5px; }
  #minorHockeyHome h3 {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #fafafa;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding-bottom: 20px; }
  #minorHockeyHome img {
    padding-bottom: 25px;
    display: block;
    margin: 0 auto; }
  #minorHockeyHome p {
    padding-bottom: 10px; }

#nationalContestHome {
  padding-top: 0px;
  background-color: #282828;
  color: #fafafa;
  font-size: 1.2em;
  font-family: "Gentium Book Basic", serif; }
  #nationalContestHome h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #fafafa;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 5px; }
  #nationalContestHome h3 {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #fafafa;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding-bottom: 20px; }
  #nationalContestHome img {
    padding-bottom: 25px;
    display: block;
    margin: 0 auto; }
  #nationalContestHome p {
    padding-bottom: 10px; }

#centreExcellenceHome {
  background-color: #fafafa;
  color: #282828;
  font-size: 1.2em;
  font-family: "Gentium Book Basic", serif; }
  #centreExcellenceHome h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #d4222a;
    font-size: 1.5em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 25px;
    padding-bottom: 5px; }
  #centreExcellenceHome h3 {
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #fafafa;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding-bottom: 20px; }
  #centreExcellenceHome img {
    padding-bottom: 25px;
    display: block;
    margin: 0 auto; }
  #centreExcellenceHome p {
    padding-bottom: 10px; }

/* Medium and up  */
@media screen and (min-width: 40em) {
  #educationCurriculumHome img {
    display: block;
    margin: 0 auto; }
  #educationCurriculumHome p {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }

  #minorHockeyHome h2 {
    padding-bottom: 10px; }
  #minorHockeyHome img {
    display: block;
    margin: 0 auto; }
  #minorHockeyHome p {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }

  #nationalContestHome img {
    display: block;
    margin: 0 auto; }
  #nationalContestHome p {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; }

  #centreExcellenceHome img {
    display: block;
    margin: 0 auto; }
  #centreExcellenceHome p {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px; } }
/* Large and up  */
@media screen and (min-width: 64em) {
  #educationTitle h2 {
    font-size: 2.3em;
    margin-top: 20px; }
  #educationTitle h3 {
    font-size: 1.4em; }

  #educationCurriculumBG {
    width: 100%;
    background-color: #fafafa; }

  #educationCurriculumHome {
    width: 80%; }
    #educationCurriculumHome h2 {
      font-size: 2em;
      padding-top: q0px;
      padding-bottom: 30px;
      text-align: left; }
    #educationCurriculumHome h3 {
      text-align: left; }
    #educationCurriculumHome img {
      margin-top: 10px; }
    #educationCurriculumHome p {
      margin: 0; }

  #minorHockeyBG {
    width: 100%;
    background-color: #d4222a; }

  #minorHockeyHome {
    width: 80%; }
    #minorHockeyHome h2 {
      font-size: 2em;
      padding-top: 60px;
      padding-bottom: 10px;
      text-align: left; }
    #minorHockeyHome h3 {
      text-align: left; }
    #minorHockeyHome img {
      margin-top: 10px; }
    #minorHockeyHome p {
      margin: 0; }

  #nationalContestTitle h2 {
    font-size: 2.3em; }
  #nationalContestTitle h3 {
    font-size: 1.4em; }

  #nationalContestBG {
    width: 100%;
    background-color: #282828; }

  #nationalContestHome {
    width: 80%; }
    #nationalContestHome h2 {
      font-size: 2em;
      padding-top: 60px;
      padding-bottom: 10px;
      text-align: left; }
    #nationalContestHome h3 {
      text-align: left; }
    #nationalContestHome img {
      margin-top: 10px; }
    #nationalContestHome p {
      margin: 0; }

  #centreExcellenceBG {
    width: 100%;
    background-color: #fafafa; }

  #centreExcellenceHome {
    width: 80%; }
    #centreExcellenceHome h2 {
      font-size: 2em;
      padding-top: 60px;
      padding-bottom: 10px;
      text-align: center; }
    #centreExcellenceHome h3 {
      text-align: left; }
    #centreExcellenceHome img {
      margin-top: 10px; }
    #centreExcellenceHome p {
      margin: 0; } }
/*EVENTS PAGE*/
.events {
  margin-top: 100px;
  background-color: black;
  background-image: url("../images/hero_bg1.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 110%;
  height: 150px;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear; }

#eventsTitle h2 {
  color: #d4222a;
  text-transform: uppercase;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5em; }
#eventsTitle h3 {
  color: #898898;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: "Gentium Book Basic", serif;
  font-size: 1.3em;
  font-style: italic; }

#eventsInfo {
  margin-top: 0px;
  margin-bottom: 30px; }
  #eventsInfo p {
    color: #282828;
    font-size: 1.2em;
    font-family: "Gentium Book Basic", serif; }
  #eventsInfo ul {
    list-style-type: none;
    margin: 0;
    color: #651014;
    font-size: 1.2em;
    font-family: "Gentium Book Basic", serif; }
  #eventsInfo img {
    margin-bottom: 20px; }

/* Meidum and up  */
@media screen and (min-width: 40em) {
  #eventsTitle h2 {
    font-size: 2.3em; }
  #eventsTitle h3 {
    font-size: 1.4em; } }
/*Tour Page*/
.venue {
  border-bottom: solid 1px #ccc;
  margin-bottom: 20px; }

.tour {
  margin-top: 100px;
  background-color: black;
  background-image: url("../images/hero_bg4.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 110%;
  height: 150px;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear; }
  .tour h1 {
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    /*50px*/
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2.2em;
    /*2.8em*/ }

#tourInfo {
  border-bottom: solid 1px #ccc; }
  #tourInfo h2 {
    font-family: "Gentium Book Basic", serif;
    color: #d4222a;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center; }
  #tourInfo p {
    font-family: "Gentium Book Basic", serif;
    color: #282828;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px; }

.tourTitle h2 {
  font-family: "Open Sans", sans-serif;
  color: #282828;
  font-weight: 700;
  font-size: 1.8em;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase; }
.tourTitle h3 {
  font-family: "Open Sans", sans-serif;
  color: #282828;
  font-size: 1em;
  text-align: center;
  margin-bottom: 20px; }

.tourBody img {
  margin-bottom: 20px;
  width: 100%; }
.tourBody ul {
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  color: #282828;
  font-size: 1em;
  margin: 0 auto;
  margin-bottom: 20px; }

.tourPackages {
  background-color: white;
  margin-bottom: 20px; }
  .tourPackages h2 {
    margin-top: 20px;
    font-family: "Gentium Book Basic", serif;
    color: #282828;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center; }
  .tourPackages p {
    font-family: "Gentium Book Basic", serif;
    color: #282828;
    font-size: 1.2em; }

/* Medium and up  */
@media screen and (min-width: 40em) {
  .tour h1 {
    margin-top: 50px;
    /*50px*/
    font-size: 2.8em;
    /*2.8em*/ }

  #tourInfo h2 {
    font-size: 1.6em; }

  #ticketButton {
    display: inline;
    width: 45%; }

  .tourBody ul li {
    margin-bottom: 10px; } }
/* Large and up  */
@media screen and (min-width: 60em) {
  #ticketButton {
    display: inline;
    width: 45%; }

  #tourInfo h2 {
    text-align: left; }

  .tourTitle h2 {
    text-align: left; }
  .tourTitle h3 {
    text-align: left; }

  .tourBody img {
    margin-top: 0px;
    width: 100%; }

  .tourBody ul li {
    margin-bottom: 15px; }
  .tourBody ul {
    margin-bottom: 33px; } }
/*PARTNERS PAGE*/
.partners {
  margin-top: 100px;
  background-color: black;
  background-image: url("../images/hero_bg4.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 110%;
  height: 150px;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear; }

h1 {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2.8em; }

#partnersInfo {
  margin-top: 0px;
  margin-bottom: 30px; }
  #partnersInfo p {
    color: #282828;
    font-size: 1.2em;
    font-family: "Gentium Book Basic", serif; }
  #partnersInfo h2 {
    color: #282828;
    text-transform: uppercase;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6em; }

#partnersThumb {
  border-top: solid 1px #e1e1e1;
  padding-top: 35px;
  border-bottom: solid 1px #e1e1e1;
  padding-bottom: 15px; }
  #partnersThumb li {
    position: relative; }
  #partnersThumb h3 {
    background-color: #282828;
    color: #fafafa;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20%;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    overflow: hidden;
    height: 90%;
    width: 90%;
    max-width: 181px;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
  #partnersThumb a:hover h3 {
    opacity: 1; }

#partnersBecome {
  margin-top: 0px;
  margin-bottom: 50px; }
  #partnersBecome p {
    color: #282828;
    font-size: 1.2em;
    font-family: "Gentium Book Basic", serif; }
  #partnersBecome h2 {
    color: #282828;
    text-transform: uppercase;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.6em; }
  #partnersBecome ul {
    list-style-type: none;
    margin: 0;
    color: #651014;
    font-size: 1.2em;
    font-family: "Gentium Book Basic", serif; }

/* Large and up - 1024px */
@media screen and (min-width: 64em) {
  #partnersInfo h2 {
    color: #282828;
    text-transform: uppercase;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2.1em; }

  #partnersBecome h2 {
    color: #282828;
    text-transform: uppercase;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 2.1em; } }
/*CONTACT PAGE*/
.contact {
  margin-top: 100px;
  background-color: black;
  background-image: url("../images/hero_bg3.jpg");
  background-repeat: no-repeat;
  background-origin: padding-box;
  background-size: 110%;
  height: 150px;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear; }

h1 {
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2.8em; }

#contactTitle h2 {
  color: #d4222a;
  text-transform: uppercase;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1.5em; }
#contactTitle h3 {
  color: #898898;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Gentium Book Basic", serif;
  font-size: 1.3em;
  font-style: italic; }

#contactInfo {
  margin-top: 10px;
  margin-bottom: 30px; }
  #contactInfo p {
    color: #282828;
    font-size: 1.2em;
    font-family: "Gentium Book Basic", serif; }
  #contactInfo ul {
    list-style-type: none;
    margin: 0;
    color: #651014;
    font-size: 1.2em;
    font-family: "Gentium Book Basic", serif; }

#contactForm label {
  color: #282828;
  font-size: 1.1em;
  font-family: "Gentium Book Basic", serif; }
#contactForm textarea {
  font-size: 1em; }

/* Medium and up  */
@media screen and (min-width: 40em) {
  #contactTitle h2 {
    font-size: 2.3em; }
  #contactTitle h3 {
    font-size: 1.4em; } }
/* Large and up - 1024px */
@media screen and (min-width: 64em) {
  #contactTitle h2 {
    font-size: 2.3em; }
  #contactTitle h3 {
    font-size: 1.4em; }

  #contactInfo {
    margin-top: 20px; }

  .submitButton {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px; } }
/*404 Page*/
/*404 Banner*/
.error {
  margin-top: 100px;
  background-color: black;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/error_bg.jpg");
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 183%;
  height: 350px;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear; }
  .error h1 {
    color: #fafafa;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 1.3em; }
  .error h2 {
    text-align: center;
    color: #fafafa;
    text-transform: uppercase;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight: 700; }
  .error h3 {
    text-align: center;
    color: #fafafa;
    font-size: 1em;
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Gentium Book Basic", serif; }

/* Medium and up - 1024px */
@media screen and (min-width: 40em) {
  .error {
    margin-top: 100px;
    background-color: black;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: 170%;
    height: 75%;
    -webkit-transition: background 1s linear;
    -moz-transition: background 1s linear;
    -o-transition: background 1s linear;
    transition: background 1s linear; }
    .error h1 {
      color: #fafafa;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 20px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 3.8em; }
    .error h2 {
      text-align: center;
      color: #fafafa;
      text-transform: uppercase;
      font-size: 2em;
      font-family: "Open Sans", sans-serif;
      font-weight: 700; }
    .error h3 {
      text-align: center;
      color: #fafafa;
      font-size: 1.3em;
      width: 70%;
      margin: 0 auto;
      margin-top: 50px;
      font-family: "Gentium Book Basic", serif; } }
/* Large and up - 1024px */
@media screen and (min-width: 64em) {
  .error {
    background-size: 100%;
    height: 70%; }
    .error h1 {
      color: #fafafa;
      text-transform: uppercase;
      width: 100%;
      text-align: center;
      margin-top: 150px;
      margin-bottom: 20px;
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
      font-size: 4.8em; }
    .error h2 {
      text-align: center;
      color: #fafafa;
      text-transform: uppercase;
      font-size: 2.4em;
      font-family: "Open Sans", sans-serif;
      font-weight: 700; }
    .error h3 {
      text-align: center;
      color: #fafafa;
      font-size: 1.3em;
      width: 50%;
      margin: 0 auto;
      margin-top: 50px;
      font-family: "Gentium Book Basic", serif; } }
/*Article page*/
.articleHero {
  margin-top: 100px;
  height: 300px;
  background-color: white;
  background-image: url("../images/curse_of_clara.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px -20px;
  position: relative;
  -webkit-transition: background 1s linear;
  -moz-transition: background 1s linear;
  -o-transition: background 1s linear;
  transition: background 1s linear;
  z-index: -2; }
  .articleHero h1 {
    color: #fafafa;
    font-family: "Open Sans", sans-serif;
    font-size: 2.2em;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.32); }
  .articleHero:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: -moz-linear-gradient(top, transparent 0%, rgba(1, 1, 1, 0.68) 64%, rgba(2, 2, 2, 0.68) 92%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, transparent 0%, rgba(1, 1, 1, 0.68) 64%, rgba(2, 2, 2, 0.68) 92%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, transparent 0%, rgba(1, 1, 1, 0.68) 64%, rgba(2, 2, 2, 0.68) 92%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#e0101010',GradientType=0 );
    /* IE6-9 */ }

.breadcrumbs {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #282828;
  font-family: "Open Sans", sans-serif; }
  .breadcrumbs a {
    color: #d4222a; }

#articleContent {
  background-color: #fff; }
  #articleContent h1 {
    text-align: left;
    color: #282828;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.6em;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    margin-bottom: 0;
    margin-top: 30px; }
  #articleContent h2 {
    color: #aaa;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 0; }
  #articleContent h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em; }
  #articleContent p {
    color: #282828;
    font-family: "Gentium Book Basic", serif;
    font-size: 1.2em;
    margin-bottom: 20px; }
  #articleContent img {
    margin-top: 20px;
    margin-bottom: 30px;
    max-width: 100%; }

#articleShare h2 {
  width: 100%;
  background-color: #282828;
  text-align: center;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 20px;
  margin-top: 40px; }

#facebookShare {
  background-color: #3b5998;
  width: 100%; }

#twitterShare {
  background-color: #1ea1f2;
  width: 100%; }

#moreNews h2 {
  width: 100%;
  background-color: #282828;
  text-align: center;
  color: #fafafa;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 20px; }
#moreNews h3 {
  color: #d4222a;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1em;
  margin-bottom: 0px; }
#moreNews h4 {
  color: #aaa;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1em; }
#moreNews img {
  margin-bottom: 5px;
  width: 100%; }

#moreNewsButton {
  background-color: #282828;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px; }

#dasvidaniya {
  background-image: url("../images/vladmir_petrov.jpg"); }

#teamThanks {
  background-image: url("../images/summit_thanks.jpg"); }

#governmentHonours {
  background-image: url("../images/government_honours.jpg"); }

#preTourMedia {
  background-image: url("../images/pre_tour_media.jpg"); }

/*# sourceMappingURL=app.css.map */
